.project
.pydevproject
.settings/
debian/ea-ids.*.debhelper
*.pyc
__pycache__/
bin/
!lib/perl5
lib/
debian/postinst
debian/postrm
debian/preinst
debian/prerm
include/
manage.py
pip-selfcheck.json
debian/*.debhelper
.cache
share/
