.project
.pydevproject
.settings/
*.pyc
__pycache__/
bin/activate*
bin/csscapture
bin/csscombine
bin/cssparse
bin/django-admin.py
bin/easy_install*
bin/pip*
bin/python*
bin/pydoc
lib/
debian/postinst
debian/preinst
include/
manage.py
pip-selfcheck.json
debian/*.debhelper
