nac.post-auth {
     update control {
          Elan-Proxy-Path := "freeradius/nac/post-auth"
      }
      elan
}

nac.accounting {
     update control {
          Elan-Proxy-Path := "freeradius/nac/accounting"
      }
      elan
}