authentications.authorize {{
            switch "%{{Origin-Auth-ID}}" {{
              
              {inner_switch}
          
              case {{ 
                update request {{
                    Internal-Auth-ID := "%{{Origin-Auth-ID}}"
                }}
                internal-auth
              }}
            }}
            if(reply:Cleartext-Password) {{
                update control {{
                  Cleartext-Password := &reply:Cleartext-Password
                }}
            }}
}}
