[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
idstools = "*"
pyshark = "*"
"scapy-python3" = "*"
serialized-redis-interface = "*"

[requires]
python_version = "3.6"
