[Unit]
Description=Authentications

After=redis.service
Wants=redis.service

[Service]
Environment="PYTHONPATH=/elan-agent/lib/python"

ExecStart=/elan-agent/bin/authentication-provider

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

