[Unit]


Description=Connection Tracker

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/origin/lib/python

ExecStartPre=/sbin/modprobe br_netfilter
ExecStart=/origin/bin/connection-trackerd


[Install]
WantedBy=multi-user.target

