[Unit]

Description=Access Control Network

After=redis.service
Wants=redis.service

[Service]
Type=oneshot
RemainAfterExit=yes

Environment="PYTHONPATH=/origin/lib/python"

ExecStartPre=-/sbin/brctl addbr br0
ExecStartPre=-/sbin/ifconfig br0 promisc
ExecStartPre=-/usr/bin/python3 -c 'import origin.network; origin.network.NetworkConfiguration().generate_configuration_files()'


ExecStart=/sbin/ifup br0

ExecStopPost=/sbin/ifdown br0

[Install]
WantedBy=multi-user.target
