[Unit]
Description=Allow MACs on VLANs

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/origin/lib/python

ExecStart=/origin/bin/mac-authz-manager

[Install]
WantedBy=multi-user.target

