[Unit]
Description=Axon

After=redis.service
Wants=redis.service

[Service]

Restart=always
RestartSec=10

Environment="PYTHONPATH=/origin/lib/python"

ExecStart=/origin/bin/rest-elan-proxy

[Install]
WantedBy=multi-user.target

