[Unit]
Description=Authentications

After=redis.service
Wants=redis.service

[Service]
Environment="PYTHONPATH=/origin/lib/python"

ExecStart=/origin/bin/authentication-provider

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

