[Unit]

Description=Access Control

After=redis.service
Wants=redis.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/origin/lib/python

ExecStartPre=-/sbin/brctl addbr br0
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/usr/sbin/nft add table bridge origin
ExecStartPre=-/usr/sbin/nft add table ip origin
ExecStartPre=-/usr/sbin/nft add table ip6 origin
ExecStartPre=-/usr/sbin/nft add table inet origin
ExecStartPre=-/usr/sbin/nft -f /origin/network/nftables.sets
ExecStartPre=-/usr/sbin/nft -f /origin/network/nftables.chains

ExecStart=/origin/bin/access-control-configurator

[Install]
WantedBy=multi-user.target
