[Unit]
Description=Poll Trap Receiver

After=registered.service
Wants=registered.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/origin/lib/python

ExecStartPre=-/usr/bin/mkfifo /var/run/trap_fifo
ExecStart=/usr/sbin/snmptrapd -f -On -Lf /var/run/trap_fifo udp:162 udp6:162

[Install]
WantedBy=multi-user.target

