[Unit]

Description=Network Configurator


After=redis.service
Wants=redis.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStart=/elan-agent/bin/network-configurator

[Install]
WantedBy=multi-user.target

