[Unit]

Description=Access Control Network

After=redis.service
Wants=redis.service

[Service]
Type=oneshot
RemainAfterExit=yes

Environment="PYTHONPATH=/origin/lib/python"

ExecStartPre=-/sbin/brctl addbr br0
ExecStartPre=-/usr/bin/python3 -c 'import origin.network; origin.network.NetworkConfiguration().generate_configuration_files()'
ExecStartPre=-/bin/chown www-data /etc/network/interfaces.d/ea-network

ExecStart=/sbin/ifup br0

TimeoutStopSec=2
ExecStop=/sbin/ifdown br0
ExecStopPost=-/sbin/ifdown br0
