[Unit]

Description=Authentications


After=registered.service
Wants=registered.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/origin/lib/python

ExecStart=/origin/bin/nac_configurator

[Install]
WantedBy=multi-user.target

