[Unit]
Description=Allow MACs on VLANs

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStart=/elan-agent/bin/mac-authz-manager

[Install]
WantedBy=multi-user.target

