[Unit]

Description=IDS logger to Central Manager

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStartPre=/bin/mkdir -p /var/log/suricata
ExecStart=/elan-agent/bin/ids-loggerd

[Install]
WantedBy=multi-user.target
