[Unit]
Description=FreeRADIUS gw to ELAN via REST

[Service]

Restart=always
RestartSec=10

Environment="PYTHONPATH=/origin/lib/python"

ExecStart=/origin/bin/rest-elan-proxy

[Install]
WantedBy=multi-user.target

