[Unit]

Description=Authentications


After=redis.service
Wants=redis.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStart=/elan-agent/bin/nac-configurator

[Install]
WantedBy=multi-user.target

