[Unit]

Description=SNMP Trap Parser


[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStart=/elan-agent/bin/snmp-notification-receiver

[Install]
WantedBy=multi-user.target

