[Unit]
Description=FreeRADIUS gw to ELAN via REST

[Service]

Restart=always
RestartSec=10

Environment="PYTHONPATH=/elan-agent/lib/python"

ExecStart=/elan-agent/bin/rest-elan-proxy

[Install]
WantedBy=multi-user.target

