[Unit]

Description=Poll Switches

[Service]
Restart=always
RestartSec=10

Environment=PERL5LIB=/elan-agent/lib/perl5

ExecStart=/elan-agent/bin/snmp-poller

[Install]
WantedBy=multi-user.target

