[Unit]

Description=NAC network

[Service]
Type=oneshot
RemainAfterExit=yes

Environment="PYTHONPATH=/elan-agent/lib/python"

ExecStartPre=-/sbin/brctl addbr br0
ExecStartPre=-/usr/bin/python3 -c 'import elan.network; elan.network.NetworkConfiguration(wait_synapse=False).generate_configuration_files()'
ExecStartPre=-/bin/chown www-data /etc/network/interfaces.d/ea-network

ExecStart=/sbin/ifup br0

TimeoutStopSec=2
ExecStop=/sbin/ifdown br0
ExecStopPost=-/sbin/ifdown br0

[Install]
WantedBy=network.target