[Unit]

Description=Access Control

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStartPre=-/sbin/brctl addbr br0
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/usr/sbin/nft -f /elan-agent/network/nftables

ExecStart=/elan-agent/bin/access-control-configurator

[Install]
WantedBy=multi-user.target
