[Unit]

Description=Access Control

After=redis.service
Wants=redis.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStartPre=-/sbin/brctl addbr br0
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/usr/sbin/nft add table bridge elan
ExecStartPre=-/usr/sbin/nft add table ip elan
ExecStartPre=-/usr/sbin/nft add table ip6 elan
ExecStartPre=-/usr/sbin/nft add table inet elan
ExecStartPre=-/usr/sbin/nft -f /elan-agent/network/nftables.sets
ExecStartPre=-/usr/sbin/nft -f /elan-agent/network/nftables.chains

ExecStart=/elan-agent/bin/access-control-configurator

[Install]
WantedBy=multi-user.target
