[Unit]

Description=Poll Switches

[Service]
Restart=always
RestartSec=10

Environment=PERL5LIB=/origin/lib/perl5

ExecStart=/origin/bin/snmp-poller

[Install]
WantedBy=multi-user.target

