[Unit]
Description=IDS monitor

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStart=/elan-agent/bin/ids-monitor

[Install]
WantedBy=multi-user.target
