[Unit]

Description=Authentications


After=redis.service
Wants=redis.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/origin/lib/python

ExecStart=/origin/bin/nac-configurator

[Install]
WantedBy=multi-user.target

