[Unit]


Description=Connection Tracker

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStartPre=/sbin/modprobe br_netfilter
ExecStart=/elan-agent/bin/connection-trackerd


[Install]
WantedBy=multi-user.target

