[Unit]
Description=Network monitor

After=redis.service
Wants=redis.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStart=/elan-agent/bin/network-monitor

[Install]
WantedBy=multi-user.target
