[Unit]

Description=Suricata server

After=redis.service
Wants=redis.service

[Service]
Restart=always
RestartSec=10

Environment=PYTHONPATH=/elan-agent/lib/python

ExecStartPre=/bin/mkdir -p /var/log/suricata
ExecStartPre=/bin/mkdir -p /etc/suricata/rules
ExecStartPre=/usr/bin/python3 -c 'from elan.ids import generate_suricata_conf; generate_suricata_conf(force=True)'

ExecStart=/usr/bin/suricata --nflog

ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

