#!/usr/bin/make -f
override_dh_installinit:
	dh_installinit --name=authentication_provider
	dh_installinit --name=freeradius
	dh_installinit --name=captive-portal
	dh_installinit --name=captive-portal_configuration_cacher
	dh_installinit --name=guest-access-manager

%:
	dh $@
