{% load i18n %}
  <div class="well well-sm">
    {{guest_access.description | safe}}
  </div>

  {% if guest_access_pending %}
  <div class="alert alert-warning">
    {% trans 'A Guest Access request is pending authorization.' %}
  </div>
  {% endif %}

  <form action="{% url 'guest-access' %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}

    {% for field in guest_access.registration_fields %}
    <div class="form-group">
      <label for="field-{{forloop.counter}}" class="col-sm-3 control-label">{{field.display_name}}</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="field-{{forloop.counter}}" name="{{field.display_name}}" {% if field.required %}required{% endif %}>
      </div>
    </div>
    {% endfor %}

    {% if guest_access.type == 'sponsored' %}
    <div class="form-group">
      <label for="field-sponsor-email" class="col-sm-3 control-label">{% trans 'Sponsor Email' %}</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="field-sponsor-email" name="sponsor_email" required="required">
      </div>
    </div>
    {% endif %}

    <div class="well well-sm" style="max-height: 200px; overflow-y:scroll;">
      {{guest_access.policy|safe}}
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-default">{% trans 'Submit Request' %}</button>
      </div>
    </div>

  </form>
